{% extends "layout.html" %}

{% block content %}

                <div class="bg-white dark:bg-bgray-secondary rounded-lg flex-1 p-10">
                    <h1 class="text-5xl font-bold dark:text-gray-50 text-center">
                        Checkout</h1><br>

    <div class="bg-light checkout">


        <div class="p-4">

            {{ index.description|raw }}

            <!-- Start Basket Review -->
            {% include "checkout/basketreview.twig" %}
            <!-- End Basket Review -->

            <div class="row">
                <div class="col-xl-6">
                    <!-- Start Coupons Redeem -->
                    {% include "checkout/coupons.twig" %}
                    <!-- End Coupons Redeem -->
                </div>
                <div class="col-xl-6">
                    {% if checkout.gateways|length > 0 or basket.price == 0 %}
                        {% if checkout.playerReferrals %}
                            {% include "playerreferral.html" %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        {% if store.useCheckout %}
            {% include "checkout/tebex-checkout.twig" %}
        {% else %}

            <!-- Virtual Currency -->
            {% include "virtualcurrency.html" %}
            <!-- /Virtual Currency -->

            <!-- Start Checkout Fields -->
            <form method="post" action="{% if basket.price > 0 %}/checkout/pay{% else %}/checkout/free{% endif %}" {% if basket.price> 0 %}class="gateway"{% endif %}>
                <div class="p-4">
                    <input type="hidden" name="type" value="single" />

                    {% if (checkout.amazonpay or checkout.gateways|length > 0) and basket.price > 0 %}
                        <h4 class="mb-3">{{ __("Payment method") }}</h4>
                        <div class="gateways">
                            {% for gateway in checkout.gateways %}
                                <div class="radio float-left text-left text-md-center rounded">
                                    <label>
                                        <input type="radio" name="gateway" id="gateway" value="{{ gateway.id }}" {% if
                                            checkout.gateways|length==1 %} checked="checked" {% endif %} data-id="{{ gateway.gateway }}">
                                        <img class="gateway_img border rounded" src="{{ gateway.image }}" />
                                        {% if gateway.offset != 0 %}<span>({% if gateway.offset > 0 %}+{% endif %}{{ gateway.offset|money }}</span> <small>{{ basket.currency }}</small>){% endif %}
                                    </label>
                                </div>
                            {% endfor %}
                            <div class="clearfix"></div>
                        </div>

                        {% if checkout.amazonpay %}
                            {% include "amazonpaybutton.html" %}
                        {% endif %}

                    {% endif %}

                    {% if checkout.braintree %}
                        <div class="mt-5 braintree-details hidden">

                            <div class="bt-drop-in-wrapper">
                                <div id="bt-dropin"></div>
                            </div>

                            <input id="nonce" name="payment_method_nonce" type="hidden" />
                            <script src="https://js.braintreegateway.com/web/dropin/1.2.0/js/dropin.min.js"></script>
                            <script>
                                var form = document.querySelector('.gateway')[0];
                                var client_token = "{{ checkout.braintree.braintree_client_token }}";
                                var braintreeinstance;

                                braintree.dropin.create({
                                    authorization: client_token,
                                    selector: '#bt-dropin',
                                    paypal: {
                                        flow: 'vault'
                                    }
                                }, function (createErr, instance) {
                                    braintreeinstance = instance;
                                });

                            </script>

                        </div>
                    {% endif %}

                    {% include "checkout_fields.html" %}

                    <div class="card-container row mt-5">
                        <div class="col-12">

                            <h4>{{ __("Card details:") }}</h4>

                            <div class="row">

                                <div class="number form-group col-12 col-md-4">
                                    <label>{{ __("Card number:") }}</label>
                                    <input type="text" class="form-control" placeholder="4242 4242 4242 4242" />
                                </div>


                                <div class="cvc form-group col-4">
                                    <label>{{ __("CVC:") }} <a href="http://www.cvvnumber.com/cvv.html" target="_blank"
                                                               style="font-size:11px">{{ __("What is this?") }}</a></label>
                                    <input type="text" class="form-control" placeholder="123" />
                                </div>

                                <div class="expiration form-group col-md-4">
                                    <div class="row">
                                        <div class="month form-group col-6">
                                            <label>{{ __("Expiry month:") }}</label>
                                            <select class="form-control">
                                                <option value='01'>{{ __("01 - January") }}</option>
                                                <option value='02'>{{ __("02 - February") }}</option>
                                                <option value='03'>{{ __("03 - March") }}</option>
                                                <option value='04'>{{ __("04 - April") }}</option>
                                                <option value='05'>{{ __("05 - May") }}</option>
                                                <option value='06'>{{ __("06 - June") }}</option>
                                                <option value='07'>{{ __("07 - July") }}</option>
                                                <option value='08'>{{ __("08 - August") }}</option>
                                                <option value='09'>{{ __("09 - September") }}</option>
                                                <option value='10'>{{ __("10 - October") }}</option>
                                                <option value='11'>{{ __("11 - November") }}</option>
                                                <option value='12'>{{ __("12 - December") }}</option>
                                            </select>
                                        </div>
                                        <div class="year form-group col-6">
                                            <label>{{ __("Expiry year:") }}</label>
                                            <select class="form-control">
                                                {% for year in checkout.expiryYears %}
                                                    <option value="{{ year }}">{{ year }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- Tax -->
                    <div class="tax mt-5"></div>
                    <!-- End Tax -->

                    <!-- Privacy Form -->
                    <div class="mt-5">{{ privacyForm|raw }}</div>
                    <!-- End Privacy Form -->
                </div>

                <!-- Place Order -->
                <div class="card py-5 px-4 rounded-0 border-top text-center">
                    <h2 class="mb-3">{{ __("Confirm your purchase") }}</h2>
                    {% if checkout.gateways|length > 0 or basket.price == 0 %}
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8">
                                <div class="checkbox mb-4">
                                    <label>
                                        <input type="checkbox" value="true" name="agreement">
                                        {{ __("I agree to the :link_start Terms & Conditions :link_end of this
                                            purchase.", {'link_start': '<a href="javascript::void(0);" data-remote="/terms"
                                                                           class="toggle-modal">', 'link_end': '</a>'})|raw }}
                                    </label>
                                    {% include "checkout/tokenize.html" %}
                                </div>
                                {% include "checkout/buttons.html" %}
                            </div>
                        </div>
                    {% else %}
                        <p>{{ __("You need to setup a :gateway in your control panel before players can donate.",
                            {"gateway": '<a href="http://server.buycraft.net/gateways" target="_blank">payment gateway</a>'})|raw
                        }}</p>
                    {% endif %}
                </div>
                <!-- End Place Order -->

            </form>

        <!-- End Checkout Fields -->
        {% endif %}

    </div>
    </div>

{% endblock %}
