<div class="module">
     <h5>{{ __(module.header) }}</h5>
    <ul class="list-group list-unstyled recent-payments text-primary-200">
        {% for payment in module.payments %}
            <li class="list-item media p-3 bg-primary-900 mb-1 align-items-center">
                <img src="{{ payment.skin }}" width="40" class="mr-3 rounded">
                <div class="media-body">
                    <h6 class="font-weight-medium mb-0 font-sans text-primary-100">{{ payment.ign }}
                        {% if module.displayPackage %}
                            - {{ payment.name[:20] }}
                        {% endif %}
                    </h6>
                    <div class="text-primary-200 small">
                        {% if module.displayPrice %}
                           {{ payment.price|money }} {{ payment.currency }}
                        {% endif %}
                        {% if module.displayTime %}
                            | {{ payment.time }}
                        {% endif %}
                    </div>
                </div>
            </li>
        {% else %}
            {{ __("No recent payments to display.") }}
        {% endfor %}
    </ul>
</div>
